<ng-container *ngIf="session">
  <div class="row no-gutters">
    <div class="col-12">
      <h1>{{ session.circuit.name }} - {{ session.car.name }}</h1>
    </div>
    <div class="col-12">
      <h4>{{ session.created_at }}</h4>
    </div>
  </div>
  <div class="row no-gutters mt-2">
    <div class="col-6">
      <table
        class="table table-hover"
        *ngIf="session.stints.length > 0; else noLapsRecorded"
      >
        <thead>
          <tr>
            <th>Stint</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stint of session.stints; let i = index">
            <td>
              {{ i + 1 }}
              <table class="table">
                <tr *ngFor="let lap of stint.laps">
                  <td>{{ lap.number }}</td>
                  <td>{{ convertTime(lap.time) }}</td>
                  <td>{{ lap.fuel_used }}</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noLapsRecorded>
        <p>No laps recorded</p>
      </ng-template>
    </div>
  </div>
</ng-container>
