<ng-container *ngIf="session">
  <div class="row no-gutters session-title mt-4">
    <div
      class="col-12 text-center font-weight-bold"
      style="letter-spacing: 2px"
    >
      <h1>{{ session.circuit.name }}</h1>
      <h1>
        {{ session.car.name }}
      </h1>
    </div>
    <div class="col-12 text-center">
      <h4>{{ session.created_at.substring(0, 16).replace("T", " ") }}</h4>
    </div>
  </div>

  <div class="row no-gutters mt-4 bg-white p-3 border">
    <div class="col-12">
      <table
        class="w-100"
        *ngIf="session.stints.length > 0; else noLapsRecorded"
      >
        <thead>
          <tr>
            <th>Stint</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stint of session.stints; let i = index">
            <td>
              <span class="text-red stint-title">{{ i + 1 }}</span>
              <table class="table">
                <thead>
                  <th>Lap</th>
                  <th>Time</th>
                  <th>Sector 1</th>
                  <th>Sector 2</th>
                  <th>Sector 3</th>
                  <th>Delta</th>
                  <th>Fuel Usage</th>
                  <th>Position</th>
                  <th>Valid</th>
                </thead>
                <tr *ngFor="let lap of stint.laps">
                  <td>{{ lap.number }}</td>
                  <td
                    [ngClass]="{
                      'bg-success text-white': lap.time === fastestLapTime
                    }"
                  >
                    {{ convertTime(lap.time) }}
                  </td>
                  <td
                    [ngClass]="{
                      'bg-success text-white':
                        lap.sector1 === fastestSector1.time
                    }"
                  >
                    {{ convertTime(lap.sector1) }}
                  </td>
                  <td
                    [ngClass]="{
                      'bg-success text-white':
                        lap.sector2 === fastestSector2.time
                    }"
                  >
                    {{ convertTime(lap.sector2 - lap.sector1) }}
                  </td>
                  <td
                    [ngClass]="{
                      'bg-success text-white':
                        lap.sector3 === fastestSector3.time
                    }"
                  >
                    {{ convertTime(lap.sector3 - lap.sector2) }}
                  </td>
                  <td>{{ convertTime(lap.delta_time) }}</td>
                  <td>{{ lap.fuel_used.toFixed(2) }} litres</td>
                  <td>{{ lap.position }}</td>
                  <td
                    [ngClass]="{
                      'bg-success': lap.is_valid,
                      'bg-danger': !lap.is_valid
                    }"
                  >
                    {{ lap.is_valid }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noLapsRecorded>
        <p>No laps recorded</p>
      </ng-template>
    </div>
  </div>
  <div class="row p-3 mt-3" *ngIf="lapCount > 0">
    <div class="col-12 bg-white p-3 border">
      <div class="d-flex">
        <h3>{{ lapCount }} Laps {{ medianLaptime }} Median Time</h3>
      </div>

      <app-lap-chart
        [lapTimes]="lapTimes"
        [sector1Times]="sector1Times"
        [sector2Times]="sector2Times"
        [sector3Times]="sector3Times"
        [lapCount]="lapCount"
      ></app-lap-chart>
    </div>
  </div>
</ng-container>
