<div class="row no-gutters mt-4">
  <div class="col-4 pr-2">
    <app-session-type-list
      (sessionType)="sessionTypeId = $event"
    ></app-session-type-list>
  </div>
  <div class="col-4 pr-2">
    <app-circuit-list (circuit)="circuitId = $event"></app-circuit-list>
  </div>
  <div class="col-4">
    <app-car-list (car)="carId = $event"></app-car-list>
  </div>
</div>

<div class="row no-gutters p-3 border bg-white mt-4">
  <div class="col-12">
    <app-session-list
      [carId]="carId"
      [circuitId]="circuitId"
      [sessionTypeId]="sessionTypeId"
    ></app-session-list>
  </div>
</div>
