<app-car-group-selector (group)="updateGroup($event)"></app-car-group-selector>

<div class="row no-gutters bg-white p-3 border mt-3">
  <ng-container *ngIf="circuitSummary.length > 0; else loadingSpinner">
    <div
      class="col-12 text-right pb-2"
      style="font-size: 0.85rem; line-height: 0.9"
    >
      <div>* PB label shows if set within the last 3 days</div>
      <div>* The last 100 laps are used for best and median calculations</div>
    </div>

    <div class="d-none d-lg-flex row col-12 py-2 border-bottom">
      <div class="col-12 col-lg-4 font-weight-bold">Circuit</div>
      <div class="col-12 col-lg-3 font-weight-bold">Car</div>
      <div class="col-12 col-lg-2 font-weight-bold">Best Time</div>
      <div class="col-12 col-lg-2 font-weight-bold">Median Time</div>
      <div class="col-12 col-lg-1 font-weight-bold">Totals</div>
    </div>

    <div
      class="row hover col-12 py-3 border-bottom font-roboto-mono"
      [ngClass]="{
        'bg-yellow': summary.circuit.id == selectedCircuit
      }"
      (click)="selectedCircuit = summary.circuit.id"
      *ngFor="let summary of circuitSummary"
    >
      <div class="col-12 col-lg-4 border-right">
        {{ summary.circuit.name }}
        <span class="alert p-1 alert-success" *ngIf="summary.new_best">
          New PB
        </span>
      </div>
      <div class="col-12 col-lg-3 border-right">
        {{ summary.car.name || "No Data" }}
      </div>
      <div class="col-12 col-lg-2">
        <ng-container *ngIf="summary.best_time.minutes !== '00'; else noData">
          <a routerLink="/sessions/{{ summary.session_id }}">
            {{ summary.best_time.minutes }}:{{ summary.best_time.seconds }}:{{
              summary.best_time.milliseconds
            }}
          </a>
          <app-split-label [split]="summary.split"></app-split-label>
        </ng-container>
        <ng-template #noData> No Data </ng-template>
      </div>
      <div class="col-12 col-lg-2">
        <ng-container *ngIf="summary.median_time.minutes !== '00'; else noData">
          {{ summary.median_time.minutes }}:{{ summary.median_time.seconds }}:{{
            summary.median_time.milliseconds
          }}
        </ng-container>
        <ng-template #noData> No Data </ng-template>
      </div>
      <div class="col-12 col-lg-1">
        <div>{{ summary.total_sessions }} sessions</div>
        <div>{{ summary.total_laps }} laps</div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingSpinner>
    <div class="col-12">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>
</div>
