<div class="row no-gutters bg-white p-3 border">
  <ng-container *ngIf="circuitSummary.length > 0; else loadingSpinner">
    <div class="row col-12 py-2 border-bottom">
      <div class="col-12 col-lg-4 font-weight-bold">Circuit</div>
      <div class="col-12 col-lg-4 font-weight-bold">Car</div>
      <div class="col-12 col-lg-4 font-weight-bold">TIme</div>
    </div>
    <div
      class="row col-12 py-3 border-bottom font-roboto-mono"
      *ngFor="let summary of circuitSummary"
    >
      <div class="col-4 border-right">
        {{ summary.circuit.name }}
      </div>
      <div class="col-4 border-right">
        {{ summary.car.name || "No Data" }}
      </div>
      <div class="col-4">
        <ng-container *ngIf="summary.best_time.minutes !== '00'; else noData">
          <a routerLink="/sessions/{{ summary.session_id }}">
            {{ summary.best_time.minutes }}:{{ summary.best_time.seconds }}:{{
              summary.best_time.milliseconds
            }}
          </a>
        </ng-container>
        <ng-template #noData> No Data </ng-template>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>
