<ng-container *ngIf="sessions !== null; else loadingSessions">
  <div class="d-none d-lg-flex row no-gutters py-3 border-bottom">
    <div class="col-2">Time</div>
    <div class="col-2">Type</div>
    <div class="col-4">Circuit</div>
    <div class="col-3">Car</div>
  </div>

  <ng-container *ngIf="sessions.length > 0; else noSessions">
    <div
      class="row no-gutters py-3 border-bottom hover font-roboto-mono"
      *ngFor="let session of sessions"
      [routerLink]="session.id"
    >
      <div class="col-12 col-lg-2">
        {{ session.created_at.substring(0, 16).replace("T", " ") }}
      </div>
      <div class="col-12 col-lg-2">{{ session.session_type.name }}</div>
      <div class="col-12 col-lg-4">{{ session.circuit.name }}</div>
      <div class="col-12 col-lg-4">{{ session.car.name }}</div>
    </div>
    <div class="mt-3 row no-gutters">
      <button
        (click)="previous()"
        [disabled]="previousPage === null"
        class="col-12 col-lg-1 btn btn-outline-red"
      >
        Previous
      </button>
      <div class="col-12 col-lg-10 mt-2 mt-lg-0 text-center text-secondary">
        Page {{ page }}
        <div class="w-100">
          {{ count }} Sessions
          <div style="font-size: 0.75rem">
            Sessions with no stints are not shown
          </div>
        </div>
      </div>
      <button
        (click)="next()"
        [disabled]="nextPage === null"
        class="col-12 mt-2 mt-lg-0 col-lg-1 btn btn-outline-red"
      >
        Next
      </button>
    </div>
  </ng-container>
  <ng-template #noSessions>
    <div>
      <div>No sessions found</div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loadingSessions>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
