<table class="table table-hover">
  <thead>
    <th>Time</th>
    <th>Type</th>
    <th>Circuit</th>
    <th>Car</th>
  </thead>
  <tbody>
    <ng-container *ngIf="sessions.length > 0; else noSessions">
      <tr *ngFor="let session of sessions" [routerLink]="session.id">
        <td>{{ session.created_at.substring(0, 16).replace("T", " ") }}</td>
        <td>{{ session.session_type.name }}</td>
        <td>{{ session.circuit.name }}</td>
        <td>{{ session.car.name }}</td>
      </tr>
    </ng-container>
    <ng-template #noSessions>
      <tr>
        <td colspan="4">No sessions found</td>
      </tr>
    </ng-template>
  </tbody>
</table>
