<div class="container py-5">
  <div class="row no-gutters">
    <div class="col-12 col-md-8 col-lg-4">
      <form #calcForm="ngForm">
        <div class="form-group">
          <label class="font-italic">Stint Length (Minutes)</label>
          <input
            [(ngModel)]="stintLength"
            name="stintLength"
            type="number"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label class="font-italic">Estimated Lap Time</label>
          <div class="d-flex">
            <label class="mr-md-1">
              <input
                [(ngModel)]="estimatedLapTime.minutes"
                type="number"
                class="form-control"
                name="minutes"
              />
              Minutes
            </label>
            <label class="ml-md-1">
              <input
                [(ngModel)]="estimatedLapTime.seconds"
                type="number"
                class="form-control"
                name="seconds"
              />
              Seconds
            </label>
          </div>

          <div class="form-group">
            <label for="" class="font-italic">
              Estimated Fuel Usage Per Lap
              <input
                class="form-control"
                [(ngModel)]="estimatedFuelUsage"
                type="number"
                name="estimatedFuelUsage"
              />
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12">Predicted fuel usage for stint {{ fuelForStint }}L</div>
  </div>
</div>
