@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.side-menu {
    .home-icon {
        font-size: 2rem;
        @include media-breakpoint-down(lg) {
            font-size: 1rem;
        }
    }

    background: linear-gradient(
        45deg
        , #5f5f5f, #313131);
    border-right: 3px solid #FF0000;

    .side-menu-item {
        font-size: 1.5rem;
        transition: 0.2s linear;

        &:hover {
            cursor: pointer;
            background-color: #545454;
        }
    }
}