<div class="row no-gutters mt-4 p-3">
  <div class="col-12">
    <form #calcForm="ngForm">
      <div class="row no-gutters">
        <div class="col-6 pr-lg-3">
          <div class="form-group bg-white p-3 border">
            <label class="font-italic">Circuit</label>
            <select
              class="form-control"
              [(ngModel)]="selectedCircuit"
              name="selectedCircuit"
              (ngModelChange)="updateCircuit($event)"
            >
              <option *ngFor="let circuit_ of circuits">
                {{ circuit_.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group bg-white p-3 border">
            <label class="font-italic">Stint Length (Minutes)</label>
            <input
              [(ngModel)]="stintLength"
              name="stintLength"
              type="number"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-6 pr-3">
          <div class="form-group bg-white w-100 h-100 p-3 border">
            <label class="font-italic">Estimated Lap Time</label>
            <div class="row no-gutters">
              <label class="col-6 pr-lg-5">
                <input
                  [(ngModel)]="circuit.laptime.minutes"
                  type="number"
                  class="form-control"
                  name="minutes"
                />
                Minutes
              </label>
              <label class="col-6">
                <input
                  [(ngModel)]="circuit.laptime.seconds"
                  type="number"
                  class="form-control"
                  name="seconds"
                />
                Seconds
              </label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group bg-white w-100 h-100 p-3 border">
            <label for="" class="font-italic">
              Estimated Fuel Usage Per Lap
              <input
                class="form-control"
                [(ngModel)]="circuit.fuelPerLap"
                type="number"
                name="estimatedFuelUsage"
              />
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 mt-4">
    <div class="p-3 bg-white border">
      Predicted fuel usage for stint {{ fuelForStint }}L
    </div>
  </div>
</div>
