<div class="row no-gutters">
  <div class="col-12 p-3 bg-white border">
    <h1>Fuel Planner</h1>
    <p class="font-italic">
      Calculate fuel required for a stint based on your average fuel consumption
      and lap time
    </p>
  </div>

  <form #calcForm="ngForm" class="col-12 row no-gutters py-3">
    <div class="col-12 col-lg-7 row no-gutters">
      <app-calculator-field class="col-12">
        <label class="font-italic">Circuit</label>
        <select
          class="form-control"
          [(ngModel)]="selectedCircuit"
          name="selectedCircuit"
          (ngModelChange)="update()"
        >
          <option *ngFor="let circuit of circuits" [value]="circuit.id">
            {{ circuit.name }}
          </option>
        </select>
      </app-calculator-field>
      <app-calculator-field class="col-12">
        <label class="font-italic">Car</label>
        <select
          class="form-control"
          [(ngModel)]="selectedCar"
          name="selectedCar"
          (ngModelChange)="update()"
        >
          <option *ngFor="let car of cars" [value]="car.id">
            {{ car.name }}
          </option>
        </select>
      </app-calculator-field>

      <app-calculator-field class="col-6">
        <label class="font-italic">Stint Length (Minutes)</label>
        <input
          [(ngModel)]="stintLength"
          name="stintLength"
          type="number"
          class="form-control"
        />
      </app-calculator-field>
      <app-calculator-field class="col-6">
        <label for="" class="font-italic"> Estimated Fuel Usage Per Lap</label>
        <input
          class="form-control"
          [(ngModel)]="fuelUsage"
          type="number"
          name="fuelUsage"
        />
      </app-calculator-field>

      <app-calculator-field class="col-12">
        <label class="font-italic">Estimated Lap Time</label>

        <div class="row no-gutters">
          <label class="col-12 col-lg-2 pr-lg-2">
            <input
              [(ngModel)]="lapTime.minutes"
              type="number"
              class="form-control"
              name="minutes"
              min="0"
            />
            Minutes
          </label>
          <label class="col-12 col-lg-2 pr-lg-2">
            <input
              [(ngModel)]="lapTime.seconds"
              type="number"
              class="form-control"
              name="seconds"
              min="0"
            />
            Seconds
          </label>
          <label class="col-12 col-lg-2 pr-lg-2">
            <input
              [(ngModel)]="lapTime.milliseconds"
              type="number"
              class="form-control"
              name="milliseconds"
              min="0"
            />
            Milliseconds
          </label>
        </div>
      </app-calculator-field>
    </div>
    <div class="col-12 col-lg-5 pl-lg-3">
      <app-calculator-field>
        <div>Estimated Laps: {{ getTotalLaps() }}</div>
        <div class="fuel-for-stint w-100 text-center p-5 text-secondary">
          <div class="inner">{{ fuelForStint }}L</div>
        </div>
      </app-calculator-field>
    </div>
  </form>
</div>
