@import "../../../../colours.scss";

.tile {
  font-size: 1.5rem;
  background-color: white;
  transition: 0.2s linear;
  cursor: pointer;

  &.circuit-tile {
    &:hover {
      background-color: $orange;
      color: white;
    }
  }

  &.car-tile {
    &:hover {
      background-color: $red;
      color: white;
    }
  }
}
