$dark-grey: #313131;
$red: #ff0000;
$orange: #ff8200;
$yellow: #ffc100;
$peach: #ffeaae;
$purple: #4c0169;
$grey: #f5f5f5;
$green: #04a777;

$theme-colors: (
  "grey": $grey,
  "dark-grey": $dark-grey,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "peach": $peach,
  "purple": $purple,
  "green": $green,
);
