$dark-grey: #313131;
$red: #FF0000;
$orange: #FF8200;
$yellow: #FFC100;
$peach: #FFEAAE;

$theme-colors: (
  "dark-grey": $dark-grey,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "peach": $peach
);